.footer_container{
    background-color: var(--color_main);
    margin-top: 25rem;
    border-top: 2px solid rgba(104, 91, 76, 0.247);
    display: flex;
    justify-content: center;
}
.footer_main{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: .2fr .1fr 1fr .6fr .8fr;
    row-gap: 15px;
}
.footer_main div{
    /* background-color: bisque; */
    z-index: 1;
    width: 100%;
    height: 100%;
}
.footer_section1{
    margin-top: 15px;
}
.footer_section1 .section1_parent{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}

.section1_parent div{
    /* background-color: aqua; */
    font-size: 14px;
    cursor: pointer;
    padding: 0 10px;
    height: 80%;
    margin-left: 30px;
}
.border_right{
    border-right: 2px solid black;
}
.footer_section2{
    display: flex;
    justify-content: space-evenly;
}
.footer_section4{
    border: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
